<h1>Wikipages</h1>

<div class="col-md-8">
	 <ul>
	{{#each contact in controller itemController='contact'}}
	  <li>{{#link-to 'contact' contact}}{{name}}{{/link-to}}
	      <button {{action deleteContact}} class="btn btn-danger btn-xs">Delete</button></li>
	{{/each}}
	</ul>
	{{#link-to 'new_contact'}}New contact{{/link-to}}
</div>

<div class="col-md-4">
  {{outlet}}
</div>
